<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="{{server_base}}/assets/hot.jpg{{server_base_raw}}" alt="Weather status image"
      *ngIf="weatherData.main.temp > 32">
    <img src="{{server_base}}/assets/moderate.jpg{{server_base_raw}}" alt="Weather status image"
      *ngIf="weatherData.main.temp <= 32 && weatherData.main.temp > 15">
    <img src="{{server_base}}/assets/moderately-cold.jpg{{server_base_raw}}" alt="Weather status image"
      *ngIf="weatherData.main.temp <= 15 && weatherData.main.temp > 0">
    <img src="{{server_base}}/assets/cold.jpg{{server_base_raw}}" alt="Weather status image"
      *ngIf="weatherData.main.temp < 0">

    <div class="weather-data">
      <h1 class="location">{{weatherData.name}}</h1>
      <h2 class="teperature">{{ weatherData.main.temp | number: '1.0-0' }}°C</h2>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-container">
      <div class="search">
        <form #form="ngForm" (ngSubmit)="handleSubmit()">
          <input placeholder="Enter City Name" name="cityName" [(ngModel)]="cityName">
        </form>
      </div>
      <div class="info-blocks">
        <div class="info-block">
          <div class="info-block-label">
            <img src="{{server_base}}/assets/min.png{{server_base_raw}}" style="width:40px;">
            <!-- <span>min</span> -->
          </div>
          <div class="info-block-value">
            {{weatherData.main.temp_min | number: '1.0-0'}}°C
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="{{server_base}}/assets/max.png{{server_base_raw}}" style="width:40px;">
            <!-- <span>max</span> -->
          </div>
          <div class="info-block-value">
            {{weatherData.main.temp_max | number: '1.0-0'}}°C
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="{{server_base}}/assets/humidity.png{{server_base_raw}}" style="width:40px;">
            <!-- <span>humidity</span> -->
          </div>
          <div class="info-block-value">
            {{weatherData.main.humidity}}%
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="{{server_base}}/assets/wind.png{{server_base_raw}}" style="width:40px;">
            <!-- <span>wind</span> -->
          </div>
          <div class="info-block-value">
            {{weatherData.wind.speed}}km/h
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <div class="container">
  <div class="upper-data">
    <img src="/assets/hot.jpg" alt="Weather status image" *ngIf="14 > 32">
    <img src="/assets/moderate.jpg" alt="Weather status image" *ngIf="14 <= 32 && 14 > 15">
    <img src="/assets/moderately-cold.jpg" alt="Weather status image" *ngIf="14 <= 15 && 14 > 0">
    <img src="/assets/cold.jpg" alt="Weather status image" *ngIf="14 < 0">

    <div class="weather-data">
      <h1 class="location">Bursa</h1>
      <h2 class="teperature">{{ 20 | number: '1.0-0' }}°C</h2>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-container">
      <div class="more-info-label">
        <form #form="ngForm" (ngSubmit)="handleSubmit()">
          <mat-form-field class="example-full-width" appearance="fill">
            <input name="cityName" [(ngModel)]="cityName" matInput placeholder="Enter Your City Name">
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary"></button>
        </form>
      </div>
      <div class="info-blocks">
        <div class="info-block">
          <div class="info-block-label">
            <img src="/assets/min.png" style="width:40px;">
            <span>min</span>
          </div>
          <div class="info-block-value">
            10°C
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="/assets/max.png" style="width:40px;">
            <span>max</span>
          </div>
          <div class="info-block-value">
            30°C
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="/assets/humidity.png" style="width:40px;">
            <span>humidity</span>
          </div>
          <div class="info-block-value">
            77%
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <img src="/assets/wind.png" style="width:40px;">
            <span>wind</span>
          </div>
          <div class="info-block-value">
            11km/h
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
